.logo {
  height: 20px;
}

.title {
  display: inline-block;
  margin-inline-start: 10px;
}

.gridContainer {
  height: 500px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
